.dp {
  height: 180px;
  width: 180px;
  border-radius: 50%;
} 

.header {
  padding: 10px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
}

.hello {
  text-align: center;
  letter-spacing: 2px;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  color: black;
}

.hello_text {
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  color: black;
}

.title {
  letter-spacing: 2px;
  font-size: 25px;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-family: 'Inter', sans-serif;
}